@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/Zona Pro Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/Zona Pro Bold.otf");
	font-weight: bold;
	font-style: normal;
}