@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/zona-pro.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Zona Pro";
	src: url("../fonts/zona-pro-bold.otf");
	font-weight: bold;
	font-style: normal;
}