/* Animations
/* ---------------------------------------------------------- */
.transition-fade-in {
  transition: 1s;
  animation: fadeIn 0.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.transition-slide-right {
  transform: translateX(-100%);
  animation: slideRight 0.25s ease-out forwards;
}

@keyframes slideRight {
  100% { transform: translateX(0%); }
}

.transition-slide-left {
  transform: translateX(0%);
  animation: slideLeft 0.25s ease-out forwards;
}

@keyframes slideLeft {
  100% { transform: translateX(-100%); }
}