.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: lighten($color-brand, 40%);
  color: rgba(1,1,1,0.7);
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.back-to-top-btn:hover {
  background-color: rgb(45, 169, 149);
}

@media(max-width: $bp-tablet) {
  .back-to-top-btn {
    font-size: 12px;
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }
}
