.blog-post-list {
	display: grid;
	grid-template-rows: 1fr;
	grid-gap: 2rem;

	.blog-post-node {
		display: grid;
		grid-template-columns: minmax(180px, 1fr) minmax(180px, 3fr);
		grid-gap: 15px;
		height: 240px;

		.blog-post-details {
			overflow: hidden;
			font-weight: bold;
			color: $color-gray;

			.read-more {
				margin: 0;
				padding: 0;
				color: $color-gray-dark;
				text-decoration: none;
			}
		}
	}

	@media (max-width: $bp-tablet) {
		grid-template-columns: 1fr;
		margin: 0;

		aside {
			display: none;
		}
	}
}
