.burger {
	position: fixed;
	top: 1vw;
	left: 1vw;
	outline: none;
	cursor: pointer;

	span {
		display: block;
		width: 30px;
		height: 5px;
		margin-bottom: 7px;
		background: $color-brand;
		border-radius: 3px;
		z-index: 1;
	}
}
