.contact-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 80vh;

	h1 {
		color: $color-brand;
	}

	form {
		> * {
			margin-bottom: 1.5rem;
		}

		input, textarea {
			width: 60vw;
			max-width: 450px;
			padding: 10px 38px 10px 0;
			outline: none;
			border: none;
			border-bottom: 4px solid $color-brand;
		}

		input {
			font-weight: bold;
			font-size: $font-size-medium;
		}

		textarea {
			font-weight: bold;
			font-size: $font-size-medium * 0.9;
		}

		::placeholder {
			font-weight: bold;
			color: $color-gray;
		}

		input::placeholder {
			font-size: $font-size-medium;
		}

		.error {
			border-color: $color-error !important;
		}

		.error-msg {
			padding-left: 15px;
			margin-top: 6px;
			font-size: $font-size-small;
			display: block;
			color: $color-error;
		}

		.button-area {
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				border: 4px solid $color-brand;
				border-radius: 20px;
				padding: 8px 16px;
				color: $color-brand;
				font-weight: bold;
				transition: $common-transition;
			}

			button:hover {
				background-color: $color-brand;
				color: $color-white;
			}

			.notification-success {
				color: $color-success;
			}

			.notification-error {
				color: $color-error;
			}
		}
	}
}

@media (max-width: $bp-tablet) {
	.contact-wrapper {
		align-items: center;
	}
}