footer {
	display: none;
	padding: 10px;
	background-color: $color-brand;
	color: $color-white;
	font-size: $font-size-small * 1.2;
	width: 50%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;

	p {
		margin: 0;


		a {
			color: $color-brand-dark;
		}
	}

	@media (max-width: $bp-tablet) {
		display: block;
	}
}

