/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
div {
    margin: 0
}

strong {
    font-weight: bold;
}

button {
    border: none;
    outline:none;
}

ul {
    margin: 0;
    padding: 0;
}
