/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
    max-width: 100%;
    overflow-x: initial;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

button {
    border: none;
    outline:none;
    cursor: pointer;
    background: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $font-size-big;
}

h2 {
    font-size: $font-size-big*0.8;
}

h3 {
    font-size: $font-size-big*0.7;
}
