.hero {
  .hero-image {
    border-radius: 0;
    width: 85px;
    height: 75px;
  }

  .hero-details {
    margin-top: 50px;

    p {
      margin: 0;
      width: 70%;
    }

    p:nth-child(2) {
      color: $color-brand;
    }

    hr {
      height: 3px;
      border-radius: 10px;
      border: 1px solid $color-brand;
      background-color: $color-brand;
      margin: 25px 0;
    }

    .schedule-btn {
      margin-top: 25px;
      background-color: $color-brand;
      border-radius: 20px;
      color: $color-white;
      padding: 12px;
      cursor: pointer;
      font-weight: bold;
      transition: $common-transition;

      &:hover {
        background-color: $color-brand-dark;
      }

      .fa-calendar {
        display: none;
      }
    }
  }

  @media (max-width: $bp-tablet) {
      position: sticky;
      top: 0;
      padding: 10px 0 10px 0;
      background-color: white;
      display: inline-flex;
      justify-content: space-between;
      z-index: 5;

      .hero-image-link {
        order: 3;
        z-index: 10;

        .hero-image {
          max-height: 35px;
          width: auto;
          transition: filter 0.4s;

          &.white {
            filter: brightness(0) invert(1);
          }
        }
      }

      .hero-details {
        margin: 0;
        order: 2;

        p {
          width: auto;
          text-align: center;
        }

        .secondary-details {
          display: none;
        }

        .hero-actions {
          .social {
            display: none;
          }

          .schedule-btn {
            position: fixed;
            width: 45px;
            height: 45px;
            bottom: 20px;
            right: 20px;
            margin: 0;
            border-radius: 50%;
            box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
            font-size: 0;

            .fa-calendar {
              height: 100%;
              width: 100%;
              display: block;
            }
          }

          /* Animations */
          .btn-entrance1 {
            animation-duration: 0.5s;
            animation-fill-mode: both;
            animation-name: btnEntrance1;
          }

          /* fadeInUp */
          @keyframes btnEntrance1 {
            from {
              transform: translate3d(0, 0, 0);
            }
            to {
              transform: translate3d(0, -120%, 0);
            }
          }

          .btn-exit1 {
            animation-duration: 0.25s;
            animation-fill-mode: both;
            animation-name: btnExit1;
          }

          /* fadeOutDown */
          @keyframes btnExit1 {
            from {
              transform: translate3d(0, -100%, 0);
            }
            to {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
  }
}
