.navigation {
	nav {
		position: fixed;
		bottom: 18vh;
		left: 15vw;

		li {
			margin: 26px;
			color: $color-white;

			a {
				font-weight: bold;
				font-size: 72px;
				color: inherit;
			}

			:hover {
				color: $color-brand-dark;
			}
		}
	}

	.wave {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 15%;
		border-right: 2vw solid $color-white; // use this to fills the gaps behind svg

		img {
			width: auto;
			height: 100%;
		}

		@media (max-width: $bp-desktop) {
			width: 16%;
			border-right: none // remove gap to avoid seeing flat border
		}
	}

	.site-logo {
		position: fixed;
		right: 2vh;
		bottom: 2vh;
		width: 86px;
		height: 75px;

		@media (max-width: $bp-desktop-large) {
			display: none;
		}
	}
}