.navigation {
	nav {
		position: fixed;
		bottom: 18vh;
		left: 15vw;

		li {
			margin: 26px;
			color: $color-white;

			a {
				font-weight: bold;
				font-size: 72px;
				color: inherit;
			}

			:hover {
				color: $color-brand-dark;
			}
		}
	}

	.wave {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 15%;
		border-right: 2vw solid $color-white; // use this to fills the gaps behind svg

		img {
			width: auto;
			height: 100%;
		}

		@media (max-width: $bp-desktop) {
			width: 16%;
			border-right: none // remove gap to avoid seeing flat border
		}
	}

	.site-logo {
		position: fixed;
		right: 2vh;
		bottom: 2vh;
		width: 86px;
		height: 75px;

		@media (max-width: $bp-desktop-large) {
			display: none;
		}
	}

	.close {
		position: absolute;
		right: 2vh;
		width: 32px;
		height: 32px;
		opacity: 1;
		font-size: 0;
		cursor: pointer;
		background: none;
	}
	.close:hover {
		opacity: 0.3;
	}
	.close::before, .close::after {
		position: absolute;
		content: ' ';
		height: 33px;
		width: 3px;
		background-color: $color-brand-dark;
		border-radius: 20px;
	}
	.close::before {
		transform: rotate(45deg);
	}
	.close::after {
		transform: rotate(-45deg);
	}
}