.navigation {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	nav {
		li {
			margin: 26px;
			color: $color-white;

			a {
				font-weight: bold;
				font-size: 4rem;
				color: inherit;
				transition: $common-transition;
			}

			:hover {
				color: $color-brand;
			}
		}
	}

	@media (max-width: $bp-mobile) {
		nav {
			li {
				a {
					font-size: 3rem;
				}
			}
		}
	}

	@media (max-height: 720px) and (orientation: landscape) {
		nav {
			li {
				a {
					font-size: 3rem;
				}
			}
		}
	}
}