.share-icons li {
  display: inline;
  float: left;
}

.share-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
  font-size: 1.2rem !important;
  margin: 0.5rem !important;
  outline: none !important;
  color: $color-white !important;
  border-radius: 50% !important;
  border-style: solid !important;
  border-width: thin !important;
  border-color: rgba(0, 0, 0, 0.10) !important;
  transition: $common-transition;

  &:hover {
    background-color: $color-white !important;
  }
}

.facebook {
  background-color: #3b5998 !important;

  &:hover {
    color: #3b5998 !important;
  }
}

.linkedin {
  background-color: #0077b5 !important;

  &:hover {
    color: #0077b5 !important;
  }
}

.instagram {
  background-color: #C13584 !important;

  &:hover {
    color: #C13584 !important;
  }
}
