.social {
  display: inline-flex;
  white-space: nowrap;
}

.social li {
  float: left;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px !important;
  height: 25px !important;
  font-size: 1rem !important;
  margin: 0.5rem 0.2rem !important;
  outline: none !important;
  color: $color-white !important;
  border-radius: 50% !important;
  border-style: solid !important;
  border-width: thin !important;
  border-color: rgba(0, 0, 0, 0.10) !important;
  transition: $common-transition;

  &:hover {
    background-color: $color-white !important;
  }
}

.facebook {
  background-color: #3b5998 !important;

  &:hover {
    color: #3b5998 !important;
  }
}

.linkedin {
  background-color: #0077b5 !important;

  &:hover {
    color: #0077b5 !important;
  }
}

.instagram {
  background-color: #C13584 !important;

  &:hover {
    color: #C13584 !important;
  }
}

.twitter {
  background-color: #00ACEE !important;

  &:hover {
    color: #00ACEE !important;
  }
}