$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #B3B3B3;
$color-gray-dark: #666666;
$color-brand: #2DAA96;
$color-brand-dark: #107262;

$font-size-small: 0.67rem;
$font-size-medium: 1rem;
$font-size-big: 1.66rem;

$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-large: 1366px;