$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #B3B3B3;
$color-gray-dark: #666666;
$color-brand: #7a9aa9;
$color-brand-dark: #313237;
$color-error: #D54141;
$color-success: #50b64a;

$font-size-small: 0.67rem;
$font-size-medium: 1rem;
$font-size-big: 1.66rem;

$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-large: 1366px;

$common-transition: all 0.3s ease