.aboutWrapper {
  font-size: 1.2em;
  width:100%;
}

.aboutImage {
  width:50%!important;
  float: left!important;
  margin: 0 2em 2em 0;
}

.aboutText {
  float: none;
}

@media(max-width: 800px)  {
  .aboutImage {
    width:100%!important;
    float: none!important;
    margin: 0 0 2em 0;
  }
}
