.shareContainer {
  display: table;   /* Allow the centering to work */
  margin: 4em auto;
}

.shareHeader {
  text-align: center;
  font-size: 1.7rem;
}

.shareIcons {
  list-style: none;
}

.shareIcons li {
  display: inline;
}

.shareIcon {
  width: 40px !important;
  height: 40px !important;
  margin: 0.5rem 0.6rem !important; /* todo reduce icons size a bit */
  border-radius: 50% !important;
  outline: none !important;
  padding: 3px !important;
  border-style: solid !important;
  border-width: thin !important;
  border-color: rgba(0, 0, 0, 0.10) !important;
  transition: background 0.3s;
}

.shareIcon:hover {
  background-color: rgba(238, 238, 238, 0.70) !important;
}

.facebook {
  color: #3b5998 !important;
}

.twitter {
  color: #1da1f2 !important;
}

.linkedin {
  color: #0077b5 !important;
}

/* TODO remove importants!! */
